
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.chat-container {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.chat-box{
    height: 500px;
    padding: 40px;
    overflow-y: auto;
    border-bottom: solid 2px;
}
.user-input{
    display: flex;
    padding: 10px;
}
input{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px rgb(193, 192, 189);
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    background-color: #797777;
    cursor: pointer;
}
button:hover{
    background-color: #f4f4f4;
}